 * body {
	background: #282727;
}

.white {
	color: white;
}

#welcome {
	background-color: #FFFFFF;
}


#character {
	  position: absolute;
	  top: 352px;
	  left: 256px;
	  width: 32px;
	  height: 32px;
	  background: url('charCustom/char_grayHoodie.png') no-repeat;
}

#character.front-right { background-position: 0px 0px; }
#character.front-stand { background-position: -32px 0px; }
#character.front-left { background-position: -64px 0px; }

#character.left-right { background-position: 0px -32px; }
#character.left-stand { background-position: -32px -32px; }
#character.left-left { background-position: -64px -32px; }

#character.right-right { background-position: -64px -64px; }
#character.right-stand { background-position: -32px -64px; }
#character.right-left { background-position: -0px -64px; }

#character.back-right { background-position: 0px -96px; }
#character.back-stand { background-position: -32px -96px; }
#character.back-left { background-position: -64px -96px; }


/*-- Jam -- */
#jam {
	position: absolute;
    top: 20px;
    left: 440px;
    font-size: 20px;
    color: #FFFFFF;
    z-index: 2;
}

#jam::before {
	content: '';
	position: absolute;
	top: -6px;
	left: -9px;
    width: 65px;
    border-bottom-right-radius: 18px;
	height: 36px;
	background-color: black;
	z-index: -2;
}

#waktu {
	height: 200px;
}

/*-- button -- */
#awalan {
	position: absolute;
	top: 170px;
	left: 17vw;
	width: 80px;
    height: 45px;
    color: white;
    background-color: blue;
    border-radius: 10%;
    list-style: none;
    border-style: hidden;
}

/*!---ScoreBoard(?)---*/

.stats {
	width: 90px;
	height: 30px;
	display: inline-block;
	font-size: 15px;
	color: #FFFFFF;
	margin-top: 8px;
}

.label {
	position: absolute;
	width: 38px;
	height: 38px;
	margin-left: 3px;
}

#score {
	display: inline;
	position: absolute;
	top: 428px;
	left: 32vw;
	width: 600px;
}

.value {
	color: #FFFFFF;
	padding: 3px;
	margin-top: 7px;
	width: 25px;
	display: inline-block;
	text-align: center;
}

/*!--- warna untuk stats --- */

.logo-stat::after{
	content: '';
	position: absolute;
	top: 7px;
	width: 40px;
	height: 40px;
	opacity: 0.5;
	border-radius: 50%;
	z-index: 3;
}

#hp-stat::after{
	left: 33px;
	background-color: red;
}

#int-stat::after{
	left: 127px;
	background-color: deeppink;
}

#food-stat::after{
	left: 221px;
	background-color: #d16406;
}

#energy-stat::after{
	left: 315px;
	background-color: #36e817;
}

#rep-stat::after{
	left: 409px;
	background-color: #fbff1c;
}


/*!---css untuk ruangan---*/

.room {
	left: 28vw;
	width: 600px;
	height: 400px;
	top: 10px;
	border: 5px solid;
	background: #eee;
	position: absolute;
}

#room1 {
	
}

#room2 {

}

#room3 {
	
}

#room4 {
	
}

#room5 {
	
}

#room6 {
	
}

/*!---Pindah Ruangan---*/

.pr {
	position: absolute;
	top: 0;
	left: 0;
}

.tangga1 {
	background:#eee;
	background-image: repeating-linear-gradient(#eee, #eee 15px, #d3d3d3 15px, #d3d3d3 25px);
}

.tangga2 {
	top: 270px;
    width: 239px;
    height: 130px;
	background:#eee;
	background-image: repeating-linear-gradient(to left, #eee, #eee 20px, #d3d3d3 20px, #d3d3d3 30px);
}


#upstairs {
	left: 430px;
	width: 115px;
	height: 90px;
}

#lobby {
	top: 212px;
	left: 64px;
	width: 110px;
	height: 191px;
}

#hall1 {
	top: 110px;
	left: 544px;
	width: 50px;
	height: 50px;
	border: 3px dotted green;
	background: yellow;
}

#upstairsBack {
	top: 110px;
	width: 50px;
	height: 50px;
	border: 3px dotted green;
	background: yellow;
}

#hall2 {
	top: 344px;
	left: 480px;
	width: 50px;
	height: 50px;
	border: 3px dotted green;
	background: yellow;
}

#hallBack {
	top: 160px;
	width: 50px;
	height: 50px;
	border: 3px dotted green;
	background: yellow;
}

#hallBack2{
	left: 495px;
	width: 50px;
	height: 50px;
	border: 3px dotted green;
	background: yellow;
}

#canteen {
}

#hallBack3 {
	left: 360px;
}

/*---KELAS---*/

.kelas {
	position: absolute;
	width: 50px;
	height: 50px;
	border: 3px dotted green;
	background: yellow;
	top: 0;
	left: 544px;
}

#class1 {
}

#class2 {
	top: 130px;
}

#class3 {
	top: 270px;
}

#class4 {
	top: 130px;
}

#class5 {
	top: 290px;
}


/*---Tembok---*/

.tembok {
	background-color: black;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
}

#wall1 {
	width: 600px;
	height: 88px;
	background-color: #d3d3d3;
}

#wall2 {
	top: 212px;
	width: 601px;
	height: 190px;
	left: -1px;
}

#wall3 {
	top: 212px;
    width: 430px;
    height: 190px;
    left: -1px;
}

#wall4{
	top: 60px;
	width: 430px;
    height: 210px;
    left: -1px;
}

#wall5 {
	left: 355px;
    top: 88px;
    width: 245px;
    height: 182px;
}
